/* Button */
button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1em;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.6em;
  white-space: nowrap;
  gap: 0.4em;
  font-weight: 500;
  max-width: 12em;
}

button:hover,
.button:hover {
  background-color: var(--gray-300);
}

.primary {
  background-color: var(--primary);
  color: var(--white);
}

.secondary {
  background-color: var(--teal-100);
  color: var(--teal-500);
}

.secondary:hover {
  background-color: var(--gray-100);
}

.secondary:disabled {
  background-color: var(--gray-300);
  opacity: 0.8;
  cursor: not-allowed;
}

.secondary:disabled:hover {
  background-color: var(--gray-300);
}

.tertiary {
  background-color: var(--gray-100);
  color: var(--gray-400);
}

.tertiary:hover {
  background-color: var(--gray-200);
  color: var(--gray-500);
}

.ghost {
  padding: 0.5em;
  border-radius: 0.2em;
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
}

.ghost:hover {
  /* background-color: var(--gray-200); */
  background-color: transparent;
}

.icon {
  position: relative;
  padding: 0.5em;
  border-radius: 0.2em;
  background-color: transparent;
  /* cursor: pointer; */
  transition: all 0.3s ease;
}

.icon.like > i,
.icon.like > .fa-heart {
  color: var(--red-500);
  font-size: 1.2em;
}

/* .icon:hover {
  background-color: var(--gray-100);
} */

.icon.like:hover {
  background-color: transparent;
}

.outline {
  background-color: var(--gray-100);
  color: var(--gray-500);
  border: 1px solid var(--gray-300);
}

.outline:hover {
  background-color: var(--gray-100);
}

.upload-button {
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-button i {
  font-size: 0.9rem;
  color: var(--gray-700);
}

.upload-button .text {
  font-size: 0.9rem;
}

.badge {
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  font-size: 0.8rem;
}

.badge-02 {
  background-color: var(--sky-200);
  border: 1px solid var(--sky-300);
  border-radius: 0.3em;
  color: var(--sky-700);
  padding: 0.5em 1em;
}

.badge-02:hover {
  background-color: var(--sky-200);
}

.badge:hover {
  background-color: none;
}

.success {
  background-color: var(--success);
  color: var(--text);
}

.warning {
  background-color: var(--warning);
  color: var(--text);
}

.error {
  background-color: var(--error);
  color: var(--text);
}

.info {
  background-color: var(--info);
  color: var(--text);
}

.message {
  display: none;
  min-width: 100%;
  overflow: hidden;
}

.message.main.active,
.message.active {
  display: flex;
}

.message.products {
  display: none;
  text-align: left;
}

.message.main {
  padding: 0.8em;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4em;
}

.message.main .group {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.message.main .group .icon {
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}

.message.main.error {
  border: 1px solid var(--error-border);
  background-color: var(--error-bg);
  color: var(--error-text);
}
.message.main.info {
  border: 1px solid var(--info-border);
  background-color: var(--info-bg);
  color: var(--info-text);
}

.message.main.warning {
  border: 1px solid var(--warning-border);
  background-color: var(--warning-bg);
  color: var(--warning-text);
}
.message.main.success {
  border: 1px solid var(--success-border);
  background-color: var(--success-bg);
  color: var(--success-text);
}

.message.main .group .title {
  font-weight: 500;
}

.message .text {
  font-size: 0.9rem;
}

.message .text.error {
  color: var(--error-text);
}

.message .text.info {
  color: var(--info-text);
}

.message .text.warning {
  color: var(--warning-text);
}

.message .text.success {
  color: var(--success-text);
}

/* Toast */
.toast {
  z-index: 1;
  position: fixed;
  top: 5em;
  right: -20em;
  min-width: 18em;
  max-width: 18em;
  padding: 0.5em;
  border-radius: 0.6em;
  border: 1px solid var(--gray-300);
  box-shadow: var(--shadow-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  gap: 0.4em;
}

.toast.active {
  right: 19em;
}

.toast.default {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-300);
  color: var(--gray-900);
}

.toast.default #toast-icon {
  color: var(--gray-700);
}

.toast.error {
  /* background-color: var(--error-bg);
  border: 1px solid var(--error-border);
  color: var(--error-text); */
}

.toast.error #toast-icon {
  color: var(--error-text);
}

.toast.success {
  /* background-color: var(--success-bg);
  border: 1px solid var(--success-border);
  color: var(--success-text); */
}

.toast.success #toast-icon {
  color: var(--success-text);
}

.toast.progress {
  /* background-color: var(--gray-50);
  border: 1px solid var(--gray-300);
  color: var(--gray-900); */
}

.toast.progress #toast-icon {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-animation: rotate(0deg);
  }
  100% {
    -webkit-animation: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.toast .group {
  display: flex;
  gap: 0.4em;
  align-items: center;
}

.toast .toast-message {
  display: flex;
  color: var(--zinc-900);
  font-size: 0.9rem;
}

.toast .fa-circle-check {
  color: var(--success-text);
  font-size: 1.2em;
}

.toast .fa-xmark {
  color: var(--zinc-400);
}

/* Dialog */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  display: block;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.6em;
  z-index: 999;
  border: 0;
  outline: 0;
  display: none;
  transition: all 0.3s ease;
}

dialog.active {
  display: block;
}

dialog .wrapper {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  border: 1px solid var(--gray-300);
  border-radius: 0.6em;
  box-shadow: var(--shadow-sm);
  min-width: 20em;
}

dialog .wrapper header {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

dialog .wrapper header .title {
  font-size: 1.2rem;
  color: var(--gray-700);
  font-weight: 600;
}

dialog .wrapper .description {
  color: var(--gray-500);
  font-weight: 500;
  font-size: 0.9rem;
}

dialog .wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

dialog .wrapper form .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4em;
}

dialog .wrapper form .field input {
  flex: 1;
  border: 1px solid var(--gray-300);
  outline: 0;
  border-radius: 0.4em;
  padding: 0.5em;
}

dialog .wrapper form .field input:hover,
dialog .wrapper form .field input:focus-within {
  border: 1px solid var(--teal-500);
}

dialog .wrapper form .actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4em;
}

/* Image Preview */
.image-preview-modal {
  z-index: 999;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.image-preview-modal[open] {
  display: flex;
}

.image-preview-modal .wrapper {
  padding: 0;
  min-width: initial;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview-modal .image-preview {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  max-height: 12em;
  max-width: 12em;
}

.image-preview-modal #imagePreviewCloseButton {
  position: fixed;
  top: 1em;
  right: 1em;
}

.image-preview-modal #imagePreviewCloseButton .fa-xmark {
  color: var(--white);
}